body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: blueviolet;
}

.display,
.buttons {
  width: 400px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  background-color: antiquewhite;
  margin: 10px 0;
  align-items: center;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.play-area {
  width: 100%;
  text-align: center;
}

.round-display {
  display: flex;
  justify-content: space-evenly;
}
.round-display img {
  width: 75px;
}

button:hover {
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
}

.play-area button {
  width: 100px;
  height: 50px;
  margin: 0 auto;
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0;
}

.score li {
  list-style: none;
  background-color: rgb(67, 224, 172);
  padding: 5px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button {
  border-radius: 5px;
  border: solid 1px #000;
  width: 100px;
  height: 100px;
}

#btnRock {
  background: url("images/Rock.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

#btnPaper {
  background: url("images/Paper.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

#btnScissors {
  background: url("images/Scissors.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

.hidden {
  visibility: hidden;
}
